.divider-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
  width: 100%;
  scroll-margin-top: 110px;
}

.divider-line {
  flex-grow: 1;
  border: none;
  border-top: 2px solid #0f52ba;
}
.divider-title {
  margin: 0 10px;
  font-weight: 700;
  font-size: 150%;
  color: #0f52ba;
}
